/* 显示聊天框内容 */
.app-chat-content{
    height: -webkit-calc(100% - 40px);
    /* 如果有元素溢出框，则应该提供滚动机制。*/
    overflow-y: auto; 
}
/* 底部-聊天输入框*/
.app-chat-operator{
    margin-top: 10px;
}
/* 聊天内容框-公共模板 */
#el_template{
    display: none;
}

/* 顶部-消息面板样式 */
.app-msg-panel{
    border: 1px solid orange;
    border-radius: 5px;
    margin: 15px 0;
}
/* 顶部-提示信息 */
.app-msg-heading{
    margin-top: -15px;
}
/* 顶部-提示信息文字 */
.app-msg-tip{
    font-size: 12px;
    border-radius: 5px;
    color: white;
    padding: 2px 5px;
    margin-right: 15px;
}
.app-msg-tip.pull-right{
    margin-right: 0;
}
/* 聊天内容 */
.app-msg-body{
    padding-bottom: 5px;

}

/* 用户发送文件弹框遮罩层样式 */
.backup{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    background: lightgray;
    opacity: 0.6;
    display: none;
}
/* 用户发送文件弹框样式 */
.app-file-container{
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    padding: 10px;
    width: 400px;
    margin-left: -200px;
    z-index: 100;
    display: none;
}